@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@font-face{
	font-family:Larsseit ;
	src: url("../fonts/Larsseit-ExtraBoldItalic.woff2 ") format("woff2"), url("../fonts/Larsseit-ExtraBoldItalic.woff") format("woff");
	font-display: swap;
	font-weight:400;
	font-style: normal;
}

@font-face{
	font-family:Larsseit;
	src: url("../fonts/Larsseit-Bold.woff2 ") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight:500;
	font-style: normal;
}

@font-face{
	font-family:Larsseit ;
	src: url("../fonts/Larsseit-Medium.woff2 ")format('woff2'), url("../fonts/Larsseit-Medium.woff") format('woff');
	font-display: swap;
	font-weight:700;
	font-style: normal;
}

.title{
	font-family:Larsseit;
	font-weight:700;
}
.header{
	font-family: Roboto;
	font-weight:700;
}
.text{
	color:rgb(223, 31, 31) ;
}
h1{
	
	color: rgb(99, 26, 26);
}
h2{
	color: rgb(99, 26, 26);
}
h3 {
	color: rgb(99, 26, 26);
} 
h4 {
	color: rgb(99, 26, 26);
} 
p{
	font-family:Larsseit ;
	font-weight:700;
	color: rgb(4, 70, 70);
}
div {
	color: rgb(81, 26, 133);
}
.lesson{
	color:rgb(31, 134, 31) ;
}
li{
	color: rgb(58, 58, 197);
}
.rot{
	color: rgb(158, 17, 17);
}
footer{
	color: brown;
}